@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* header, span {
    color: black !important;
}
.comment {
    background-color: #feeab5;
  }
.is-active{
    background-color: #f0bc2d
} */
